@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Keania+Oney');
body {
  margin: 0;
  padding: 0;
}

* {
  text-align: center;
  color: #fff;
  font-family: 'Black Ops One', cursive;
}

#twitch-icon {
  height: 25vh;
  background: url("http://content.eveonline.com/www/newssystem/media/65538/1/twitch-tv-bot.png") no-repeat center;
  background-size: contain;
  margin-top: 5vh;
}

#buttons {
  padding: 5%;
}

.logo {
  border-radius: 50%;
  border: 2px solid #000;
  height: 100%;
  width: 30vh;
  margin: 10% 20%;
}

#name {
  margin: 10vh 5vh 5vh 10vh;
  font-size: 2.0em;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000;
}

#streaming {
  font-size: 1.3em;
  font-style: italic;
  margin: 0vh 5vh 5vh 10vh;
  font-family: 'Keania One', cursive;
}

.result {
  background: #673AB7;
  margin: 2%;
  border-radius: 10px;
}